<html>
    <head>
        <title>Смена пароля</title>
    </head>

    <body>
        <p>
            Текущий пароль:
        </p>
        <form method="post">
            <input type="text" name="current_password" value="{{ current_password }}"/>
            <input type="submit">
        </form>

        <p>
           Новый пароль:
        </p>
        <form method="post">
            <input type="text" name="new_password" value="{{ new_password }}"/>
            <input type="submit">
        </form>

        <p>
            Новый пароль (повторить):
         </p>
         <form method="post">
             <input type="text" name="new_password2" value="{{ new_password2 }}"/>
             <input type="submit">
         </form>

         <button onclick="window.location.href = 'https://github.com/KKopilka';">Сохранить</button>
    </body>
</html>